[data-md-color-scheme="liquidforest"]{    
    --md-primary-fg-color--light:   #FFEBCD;
    --md-primary-fg-color--dark:    #8FBC8F;
    --md-accent-fg-color--light:    #20B2AA;
    --md-accent-fg-color--dark:     #FFEBCD;
}